<div class="background-div game-item">
    <div>
        <h2><%= game.title %></h2>
        <p><%= game.description %></p>
    </div>
    <a class="button" href="<%= game.buylink %>" target="_blank">Buy Game</a>
</div>
