<div class="background-div game-item">
    <h2>Title</h2>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Error nobis sunt ut. Labore provident pariatur dolores vero
        a reiciendis culpa iure delectus, velit accusamus quo
        maiores natus hic exercitationem debitis?
    </p>
    <button>View Game</button>
</div>