<nav>
    <a id="logo" href="/">
        <img src="/images/dice.png" alt="">
        Dicey
    </a>
    <div>
        <a href="/browse">Browse</a>
        <a href="/share-games">Share Games</a>
        <a href="/share-reviews">Write Reviews</a>
    </div>
</nav>