<nav>
    <a id="logo" href="/">
        <img src="/images/dice.png" alt="">
        Dicey
    </a>
    <div>
        <a href="/browse">Browse</a>
        <a href="/share">Share</a>
        <a href="/about">About</a>
    </div>
</nav>