<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
        <link rel="stylesheet" href="/styles/browse.css">
        <title>Browse</title>
    </head>
    <body>
        <%- include('includes/nav') %>
        <main>
            <h1>Browse Games</h1>
            <div>
                <div id="game-items">
                    <% for (const game of games) { %>
                        <%- include('includes/game-item', {game:game}) %>
                    <% } %>
                </div>
            </div>
        </main>
    </body>
</html>
