<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
        <link rel="stylesheet" href="styles/confirm.css">
        <title>Browse</title>
    </head>
    <body>
        <%- include('includes/nav') %>
        <main>
            <h1>Success!</h1>
            <p>Your game has been shared</p>
            <a href="/browse" class="button">Browse Games</a>
        </main>
    </body>
</html>
