<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dicey</title>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include('includes/nav') %>
    <main>
        <section id="hero">
            <div>
                <h1>Trusted Board Game Reviews</h1>
                <ul>
                    <li>Trusted by Families</li>
                    <li>100% Free, Always</li>
                    <li>Write Your Own Reviews</li>
                </ul>
                <a class="button" href="/">Browse Games</a>
            </div>
            <img src="/images/hero.png" alt="">
        </section>
    </main>
</body>
</html>