<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('includes/head') %>
        <link rel="stylesheet" href="styles/share.css" />
        <title>Share</title>
    </head>
    <body>
        <%- include('includes/nav') %>
        <main>
            <h1>Share a Game</h1>
            <section id="form-section">
                <form action="/share" method="POST" class="background-div" autocomplete="off">
                    <div>
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title">
                    </div>
                    <div>
                        <label for="description">Description</label>
                        <textarea type="text" id="description" name="description" maxlength="159"></textarea>
                    </div>
                    <div>
                        <label for="buylink">Buy Link</label>
                        <input type="url" id="buy-link" name="buylink">
                    </div>
                    <button>Submit</button>
                </form>
            </section>
        </main>
    </body>
</html>
