
#form-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input, label, textarea{
    display: block;
    margin: 0.3rem 0;
    width: 30rem;
}

#grid-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 0;
}

#grid-div input, #grid-div label {
    width: 9rem;
}

input, textarea {
    color: var(--text);
    font-size: 1rem;
}

form {
    width: fit-content;
}

form div {
    margin: 2rem 0;
}

textarea {
    height: 10rem;
}